.App {
  text-align: center;
}

.banner {
  text-align: center;
  width: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0 auto;
  background-color: #4911b1;
  color: white;
}

.banner h1 {
  margin: 0;
  font-size: 3em;
}

.banner p {
  margin: 0;
  font-size: 1.5em;
}

.navbar {
  background-color: #7c7a7a;
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ddd;
  color: black;
}

.blog-list {
  list-style-type: none;
  padding: 0;
}

.blog-item {
  margin: 20px 0;
  padding: 10px;
  border-bottom: 1px solid #131313;
  width: 60%;
  margin: 0 auto;
}

.blog-item a {
  text-decoration: none; 
  color: black; 
}

.blog-item a:hover {
  text-decoration: underline; 
}

.blog-item h2 {
  margin: 0;
  font-size: 2em;
}

.blog-item p {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}
